PORT=5000
DB_HOST=localhost
DB_PORT=3300
DB_USER=root
DB_PASSWORD=123456
DB_NAME=data_DaNangLongTermrent

# Cấu hình gửi mail OTP qua Gmail (Nodemailer)
# Lưu ý: EMAIL_PASS nên là Mật khẩu ứng dụng (App Password) của Gmail
EMAIL_USER=dananglongtermrent@gmail.com
EMAIL_PASS=your_gmail_app_password

# Cấu hình JSON Web Token
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d
